---
import Header from "@/components/Home/Header.astro";
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Home/Footer.astro";
import AboutSection from "@/components/Home/About.astro";
---

<Layout>
  <Header />
  <main>
    <AboutSection/>
    <section class="bg-[#EDF4FC] py-24">
       <div class=" w-full max-w-[1800px]  px-8 text-center">
         </div>
    </section>
  </main>
  <Footer />
</Layout>