---
import Header from "@/components/segments/Header.astro";
import Layout from "@/layouts/BaseLayout.astro";
import CenoteTrailPage from "@/components/segments/CenoteTrail.astro"
---

<Layout>
  <Header />
  <main>
    <CenoteTrailPage/>
    <section class="bg-[#EDF4FC] py-24">
       <div class=" w-full max-w-[1800px]  px-8 text-center">
         </div>
    </section>
  </main>
</Layout>