---
import ContactPage from "@/components/Sections/Contact.astro";
import Maps from "@/components/Sections/Maps.astro"
import Footer from "@/components/Sections/Footer.astro"
---
<ContactPage />
<Maps/>
<section>
  <div class="-mt-130">
  <Maps/>
</div>
<section class="bg-[#EDF4FC]">
  <Footer/>
</section>
</section