---
<<<<<<< HEAD
import ContactPage from "@/components/segments/Contact.astro";
import Maps from "@/components/segments/Maps.astro"
import Footer from "@/components/segments/Footer.astro"
=======
import ContactPage from "@/components/segments/Contact.astro";
import Maps from "@/components/segments/Maps.astro"
import Footer from "@/components/segments/Footer.astro"
>>>>>>> 7e777ae9cf3ba4a2cd94b23a53d980c07aa1c756
---
<ContactPage />
<Maps/>
<section>
  <div class="-mt-130">
  <Maps/>
</div>
<section class="bg-[#EDF4FC]">
  <Footer/>
</section>
</section