---
import Footer from "@/components/Home/Footer.astro";
import Layout from "../layouts/Layout.astro";
import Header from "@/components/Home/Header.astro";
import HeroVideo from "@/components/Home/Hero.astro";
import Awars from "@/components/Home/Awars.astro";
import PricingCards from "@/components/Home/PricingCards.astro";
import Gallery from "@/components/Home/Gallery.astro";
import Questions from "@/components/Home/Questions.astro";
import PricingCenote from "@/components/Sections/PricingCenote.astro";
import Contact from "@/components/Home/Contact.astro";
import Maps from "@/components/Sections/Maps.astro";
---

<Layout>
  <Header />
  
  <main>
    <HeroVideo />
    <Awars />
    <PricingCards/>
    <Gallery/>
    <Questions/>
    <section class="bg-[#EDF4FC] py-24">
       <div class="max-w-[1800px] mx-auto px-8 text-center">
         </div>
    </section>
  </main>
  <Footer />
</Layout>