---
import Footer from "@/components/home/Footer.astro";
import Layout from "../layouts/BaseLayout.astro";
import Header from "@/components/home/Header.astro";
import HeroVideo from "@/components/home/Hero.astro";
import Awars from "@/components/home/Awars.astro";
import PricingCards from "@/components/home/PricingCards.astro";
import Gallery from "@/components/sections/Gallery.astro";
import Questions from "@/components/home/Questions.astro";
---

<Layout>
  <main>
    <HeroVideo />
    <Awars />
    <PricingCards/>
    <Gallery/>
    <Questions/>
    <section class="bg-[#EDF4FC] py-24">
       <div class="max-w-[1800px] mx-auto px-8 text-center">
         </div>
    </section>
  </main>
  <Footer />
</Layout>