---
import SchemasSERP from "@/components/global/SchemasSERP.astro";
import Footer from "@/components/segments/Footer.astro";
import Head from "@/components/segments/Head.astro";
import Header from "@/components/segments/Header.astro";
import { getLangFromUrl } from "@/i18n/utils";
import '@/styles/global.css';

const lang = getLangFromUrl(Astro.url);
const { seo, offI18n } = Astro.props;
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
        <meta name="theme-color" content="#006083" /> <Head offI18n={offI18n} {...seo} />
        <SchemasSERP />
        
        <slot name="schema-jsonld" />
    </head>
    
    <body id="body" class="bg-[#EDF4FC] font-sans antialiased text-[#001524] overflow-x-hidden w-full">
        
        <noscript>
            <iframe 
                src="https://www.googletagmanager.com/ns.html?id=GTM-NV35K8DZ" 
                height="0" 
                width="0" 
                style="display:none;visibility:hidden">
            </iframe>
        </noscript>

        <Header offI18n={offI18n} />

        <main class="min-h-screen w-full relative">
            <slot />
        </main>

        <Footer />

        <style is:global>
            html, body {
                max-width: 100vw;
                overflow-x: hidden;
            }
            body {
                text-rendering: optimizeLegibility;
                -webkit-font-smoothing: antialiased;
            }
        </style>
    </body>
</html>