---
import Header from "@/components/home/Header.astro";
import Layout from "@/layouts/BaseLayout.astro";
import Footer from "@/components/home/Footer.astro";
// import PricingCenote from "@/components/Sections/PricingCenote.astro";
---

<Layout>
  <Header />

  <main class="pt-20"> 
    <!-- <PricingCenote /> -->
    <section class="bg-[#EDF4FC] py-24">
       <div class="max-w-[1800px] mx-auto px-8 text-center">
         </div>
    </section>
  </main>

  <Footer />
</Layout>