---
import Header from "@/components/Home/Header.astro";
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Home/Footer.astro";
import PricingPrivate from "@/components/Sections/PricingPrivate.astro";
---

<Layout title="Cenote Adventure - Detalles">
  <Header />
  
  <main class="pt-20"> 
    <PricingPrivate />
  </main>

  <Footer />
</Layout>